# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

# lib/ ignores
/lib/*/doc/
/lib/*/.libs/
/lib/*/tests/.libs/
/lib/*/tests/cmidiin
/lib/*/tests/midiclock_in
/lib/*/tests/midiclock_out
/lib/*/tests/midiout
/lib/*/tests/midiprobe
/lib/*/tests/qmidiin
/lib/*/tests/sysextest
/lib/**/*.o
/lib/**/*.lo
/lib/**/*.la
.vs/
.idea/
